.skillboxx {
  border-color: #e8a6a7;
  border-width: 1px;
  padding: 20px;
}

.skillboxheader {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
