.footer {
  background-color: #e8a6a7;
  color: #2a2a2a;
  padding: 15px;
}

.tech {
  line-height: 40px;
}

.iconWrapper {
  padding: 5px;
  font-size: 25px;
}

.iconWrapper a {
  color: #2a2a2a;
}

.iconWrapper svg {
  display: initial;
}

.iconWrapper svg:hover {
  color: white;
}
